<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кванториум</title>
</head>
<body>
    <header>
        <p class="header-title">Кванториум</a>
        <input type="submit" value="Выход" class="header-exit">
    </header>

    <form action="" method="post"></form>

    <main>
        <div>
            <p id="name">ГБУ ДО ВО «ЦИКДиМ «Кванториум»</p>
            <p id="town">Город Россошь</p>
            <p id="chertochka">-</p>
            <p id="region">Воронежская область</p>
        </div>
        <div>
        <p id="child">Группы</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Номер группы</th>
                    <th>Объединение</th>
                    <th>Уровень обучения</th>
                    <th>Преподаватель</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>42</td>
                    <td>sdfghjkl</td>
                    <td>asdfg</td>
                    <td>qwsedrfgtyhjui</td>
                </tr>
            </tbody>
        </table>
    </main>
    
</body>
</html>