<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кванториум</title>
</head>
<body>
    <header>
        <p class="header-title">Кванториум</a>
        <input type="submit" value="Выход" class="header-exit">
    </header>

    <main>
        <div>
            <p id="name">ГАНОУ КО ЦРСК «Кванториум»</p>
            <p id="town">Город Шадринск</p>
            <p id="chertochka">-</p>
            <p id="region">Курганская область</p>
        </div>
        <div>
        <p id="child">Объединения</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>фывапр</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>