<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кванториум</title>
</head>
<body>
    <header>
        <p class="header-title">Кванториум</a>
        <input type="submit" value="Выход" class="header-exit">
    </header>

    <main>
        <div>
            <p id="name">ГБУ ДО ВО «ЦИКДиМ «Кванториум»</p>
            <p id="town">Город Россошь</p>
            <p id="chertochka">-</p>
            <p id="region">Воронежская область</p>
        </div>
        <div>
            <p id="child">Главная</p>
        </div>
        <div id="back">
            <input type="submit" value="Обучающиеся" id="button-people" class="button-people-group">
            <input type="submit" value="Группы" id="button-group" class="button-people-group">
            <input type="submit" value="Добавить объединение" id="button-add" class="button-add-kvant">
            <input type="submit" value="Добавить группу" id="button-add-group" class="button-add-kvant">
            <input type="submit" value="Добавить преподавателя" id="button-add-teacher" class="button-add-kvant">
            <input type="submit" value="Добавить ученика" id="button-add-student" class="button-add-kvant">
        </div>
    </main>
</body>
</html>