<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кванториум</title>
</head>
<body>
    <header>
        <p class="header-title">Кванториум</a>
        <input type="submit" value="Выход" class="header-exit">
    </header>

    <main>
        <div>
            <p id="name">ГБУ ДО ВО «ЦИКДиМ «Кванториум»</p>
            <p id="town">Город Россошь</p>
            <p id="chertochka">-</p>
            <p id="region">Воронежская область</p>
        </div>
        <div>
        <p id="child">Преподаватели</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>фывапр</td>
                    <td>ывапро</td>
                    <td>вапр</td>
                    <td>ыыыыыыы</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>